<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="output_path_root" value="C:\Users\maimon04\eyeTracking"/>
    <add key="rig_list" value="rig1;rig2;rig3"/>
  </appSettings>
</configuration>